@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-margin {
    margin-left: calc(10% + 36px);
    margin-right: calc(10% + 36px);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}